{
	servers {
		protocols h1 h2
	}
}

server.chess-shootout.com {
	tls /run/secrets/cf_origin_cert /run/secrets/cf_origin_key
	reverse_proxy gameserver:8000
	encode zstd gzip
	log {
		output stdout
		format console
	}
}
